# Git & OS
.git
.gitignore
Thumbs.db
.DS_Store

# IDE / Editor
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Logs / Cache
*.log
.phpunit.result.cache
/storage/*.key
/storage/pail

# Dependencies (werden im Container installiert)
/vendor
/node_modules

# Build-Output (wird im Container gebaut)
/public/build
/public/hot
/public/storage

# Homestead (lokale Vagrant-Configs)
Homestead.json
Homestead.yaml

# Env & Secrets (kommen aus Docker Compose)
/.env
.env.*
/auth.json

# Misc
/phpactor.json
