.home-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/public/img/cover.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(206, 245, 245, 0.848);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    form {
      background: rgba(255, 255, 255, 0.9);
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 300px;

      .button-group {
          display: flex;
          justify-content: space-between;
          margin: 1.5rem 0 1.5rem 0;
    
          button {
            width: 48%;
          }
        }
        h5 {
          padding-top: 1rem;
          font-size: large;
        }
        .demo-login {
          margin-top: 1rem;
          border-top: 1px solid grey;
          border-color: #dee2e6;
        }
    }
    
}