.navbar {
  width: 90%;
    //background-color: #461db7 !important;
    background-color: #76d22f !important;
    margin: 20px auto;
    border-radius: 50px;
    box-shadow: 2px 2px 10px 3px rgba(70, 29, 183, 0.55);
    -webkit-box-shadow: 2px 2px 10px 3px rgba(70, 29, 183, 0.55);
    -moz-box-shadow: 2px 2px 10px 3px rgba(70, 29, 183, 0.55);

  #navbarNav {
    display: flex;
    align-items: center;
    color: #c7efa9;

    p {
      margin: 0;
    }

    .navbar-nav {
      .nav-item {
        display: flex;

       .nav-link {
          width: 170px;
          color: #461db7;
          font-size: larger;
          text-align: center;

          &:hover {
            border-bottom: 2px solid #9af951; 
            border-radius: 0 !important;
          }

          &.router-link-exact-active {
            border-bottom: 3px solid #5824E5; 
            border-radius: 0 !important;

            &:hover {
              border-bottom: 3px solid #5824E5; 
            }
          }
          .active-link {
            border-bottom: 3px solid #5824E5;
          }
        }

          .logout-btn {
            color: #461db7 !important;
            background: transparent !important;
            border: 1px solid #A1FA5B;
            border-radius: 50px;
            padding: .5rem .75rem;
            font-size: larger;
            text-align: center;
            cursor: pointer;

          &:hover {
            color:#9af951 !important;
          }

          &:disabled {
            opacity: .6;
            cursor: not-allowed;
          }
        }
        .dropdown-menu {
          margin-top: 7px;
          border-radius: 0 !important;
        }

      }
    }
  }
}


// /* Color Theme Swatches in Hex */
// .Vineyard-KidZone-Logo-1-hex { color: #F207CB; }
// .Vineyard-KidZone-Logo-2-hex { color: #0798F2; }
// .Vineyard-KidZone-Logo-3-hex { color: #7CD91E; }
// .Vineyard-KidZone-Logo-4-hex { color: #F2E205; }
// .Vineyard-KidZone-Logo-5-hex { color: #F28705; }

// /* Color Theme Swatches in Hex */
// .Bazalt-Iskola---book-illustrations-1-hex { color: #2A8C70; }
// .Bazalt-Iskola---book-illustrations-2-hex { color: #B3F2CF; }
// .Bazalt-Iskola---book-illustrations-3-hex { color: #75D966; }
// .Bazalt-Iskola---book-illustrations-4-hex { color: #E3F26D; }
// .Bazalt-Iskola---book-illustrations-5-hex { color: #F2594B; }

// /* Color Theme Swatches in Hex */
// .Nike-Kids-1-hex { color: #D97ED3; }
// .Nike-Kids-2-hex { color: #8FCBD9; }
// .Nike-Kids-3-hex { color: #08A66C; }
// .Nike-Kids-4-hex { color: #D9CB07; }
// .Nike-Kids-5-hex { color: #BF665E; }